
html{
	background: #CFD8DC;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	margin:0;
}
#header {
	background:#01579B;
	color: white;
	width:100%;
	height:150px;
	align-items: center;
	font-size:1.5em;
	position:fixed;
	z-index: 2;
	box-shadow: 0px 1px 20px rgba(0,0,0,1);
	
	
}
#menhed span{
	margin:1em;
}
#admindetail{
	margin-left:10px;
	width: auto;
	font-size: 0.8em;

}
#admindetail p{
	margin:0;
}
#actadmin{
	position: relative;
	left:55%;
}
#menu {
	background: rgba(0,0,0,1);
	color:white;
	width: 20%;
	min-height: 700px;
	position:fixed;
	left:0;
	top: 150px;
	list-style-type: none;
	z-index: 2;
}

input + button {
	background:#2E7D32;
	margin:1em;
	padding: 0.6em;
	border-radius: 3px;
	border:0;
	color:white;
}



#board-list{
	height: auto;
	width: 90%;
	margin:2em 0em 5em 0em;
	/*border:2px solid black;*/
}

#dashboard {
	justify-content: center;
	align-content: flex-start;
	width: 100%;
	position:relative;
	top: 150px;
	background: #CFD8DC;
	height: auto;
	align-items: start;
	/*border: 2px solid black;*/
}
#add-srch {
	width:100%;
}


#header > span {
	margin-left:0.5em;

}
#hamburger{
		
	cursor:pointer;
}

#menu-list li a{
	width: 100%;
	font-size: 1.8em;
	text-decoration: none;
}

#menu-list li a:visited{
	color: white;
	text-decoration: none;

}

#menu-list li{
	width: 100%;
	margin: 1em;
	
}
#menu-list li a:hover{
	cursor: pointer;
	color: grey;
	/*text-shadow: 1px 1px 10px rgba(0,0,0,1);*/
}

#menu-list {
	list-style-type: none;
}

.board {

	height:200px;
	width: 300px;
	color: white;
	border-radius: 5px;
	background: grey;
	margin: 0.5em;
}
#propic {
	height:100px;
	width:100px;
	border-radius: 100%;
	border: none;
}

#PPspan{
	height:100px;
	width:100px;
	border-radius: 100%;
	/*margin: 1em; */
	border:none;
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
}
#add-srch span{
	margin:1em;
}
#reglist{
	margin: 3em 0em 1.5em 0em;
	width: 90%;
	border-radius: 10px;
}
#studentList{
	width:100%;
	background: #f9f9f9;
}
#studentList2{
	width:100%;
	background: #f9f9f9;
}
#studentList tr td{
	padding: 1em;
}

#studentList tr td img{
	height: 150px;
	width:100px;
}
#add-srch-form {
	position: relative;
	left:20%;
	top:10%;
	align-items: center;
	padding: 1.5em;

}
#add-srch-form input,select,button{
	padding:0.8em;
	margin:0.3em;
	border:0;
	border-radius: 5px;
}
#add-srch-form  button {
	font-weight: bold;
}
 #add-srch-form button:hover{
 	background: grey;
 }
#adduser{
	width: 100%;
	margin-right:0;
}
fieldset{
	width: 45%;
	display: inline;
}
#srch{
}

.deletebtn{
	width:100%;
	padding: 1.5em;
	cursor: pointer;
	border:0;
	border-radius: 10px;
	box-shadow: 0px 1px 5px rgba(0,0,0,1);
	font-weight: bold;
}
.deletebtn:hover{
	background: red;

}
.addbtn:hover{
	background: green;
}

.wrapper-center{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin:0;

}
table {
		
	border-collapse: collapse;
}

th,td {
	border: 2px solid black;
	padding: 1em;
	text-align: center;
}
